<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <!-- Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- Bootstrap-Vue CSS and JS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.js"></script>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="./../static/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>

<div id="main">
    <template v-if="currentPath !== '#/login' && currentPath !== '#/dashboard'">
        <navbar :person="personDetails"></navbar>
    </template>
    <component :is="currentView" @is-logged-in="handleLoggingSuccess" :view="cvViewData" :dashp="personDetails" @send-email="handlePersonEmail" @reload-person-details="handleReloadPersonDetails" @logged-out="handleLogout" @load-cv-view-data="handleLoadingCvViewData" v-if="currentView !== null">
        <!-- Pass the userData prop only to the Dashboard component -->
        <template v-if="currentView === '#/dashboard'">
            <component ></component>
        </template>
        <!-- Do not pass the userData prop to other components -->
        <template v-else>
            <component></component>
        </template>
    </component>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

<script src="../static/Card.js" type="module"></script>
<script src="../static/Navigation.js"  type="module"></script>
<script src="../static/index.js" type="module"></script>
<script src="../static/home.js" type="module"></script>
<script src="../static/Signin.js" type="module"></script>
<script src="../static/dashboard.js" type="module"></script>
<script src="../static/experienceList.js" type="module"></script>
<script src="../static/personDetails.js" type="module"></script>
<script src="../static/addCv.js" type="module"></script>
<script src="../static/AddExperience.js" type="module"></script>
<script src="../static/AddPerson.js" type="module"></script>

</body>
</html>